@model IEnumerable<MyCinemaApp.Models.Provole>

@{
    ViewData["Title"] = "Index";
}

<h1>Provoles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="d-none">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinemas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDate)
            </th>
            <th class="d-none">
                @Html.DisplayNameFor(model => model.ContentAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="d-none">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cinemas.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieDate)
                </td>
                <td class="d-none">
                    @Html.DisplayFor(modelItem => item.ContentAdmin.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { moviesId = item.MoviesId, cinemasId = item.CinemasId, moviesName = item.MoviesName }) |
                    @Html.ActionLink("Details", "Details", new { moviesId = item.MoviesId, cinemasId = item.CinemasId, moviesName = item.MoviesName }) |
                    @Html.ActionLink("Delete", "Delete", new { moviesId = item.MoviesId, cinemasId = item.CinemasId, moviesName = item.MoviesName }) |
                </td>
            </tr>
        }
    </tbody>
</table>
