@model IEnumerable<MyCinemaApp.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.UserUsername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provole.MovieDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { moviesId = item.MoviesId, cinemasId = item.CinemasId, customersId = item.CustomersId }) |
                    @Html.ActionLink("Details", "Details", new { moviesId = item.MoviesId, cinemasId = item.CinemasId, customersId = item.CustomersId }) |
                    @Html.ActionLink("Delete", "Delete", new { moviesId = item.MoviesId, cinemasId = item.CinemasId, customersId = item.CustomersId }) |
                </td>
            </tr>
        }
    </tbody>
</table>
